<h2>Login page</h2>

<%= form_tag '/login', method: 'post' do %>
    Email:<input type="text" name="email" id="email"><br>
    Password:<input type="password" name="password" id="password"><br>
    Login as teacher: <%= check_box "teacher", "login"%> <br>
    <input type="submit" value='login'>
    
<% end %>