<% programs.each do |program| %>
    <p>
        <h4><%= link_to program.name, program_path(program) %></h4><br>
        <%= program.description %><br>
        By: <%= program.teacher.first_name %> <%= program.teacher.last_name %><br>
        
    </p>
<% end %>