<% @programs.each do |program| %>
    <p>
        <h4><%= program.name %></h4><br>
        <%= program.description %><br>
        By: <%= program.teacher.first_name %> <%= program.teacher.last_name %><br>
        
    </p>
<% end %>

