<h2>Program new page</h2>

<%= render partial: 'program' %>

<%= link_to "Back to profile page", teacher_path(@current_teacher) %><br>
<%= link_to "Back to your programs", teacher_programs_path(@current_teacher) %>

