<% videos.each do |video| %>
      <p>
          <li>Title: <%= video.title %></li>
          <li>Description: <%= video.description %></li>
          <li>Duration: <%= video.duration %> min </li>
      </p>
  <% end %>