<h1>Welcome to Yoga Sessions</h1>

<p><%= link_to "Login", login_path %></p>
<p><%= link_to "Signup", new_student_path %></p>
<p><%= link_to "Teacher Homepage", teachers_homepage_path %></p>

<p> <%= link_to "Login with instagram", "/auth/instagram" %> </p>


