<h3>Welcome to Yoga Sessions</h3>

<p>
On this website you will have access to all our teachers and the programs they have created.
Our teachers are worldclass and have over a million hours of experience! We are sure you will
find the program that'll benefit you the most at this time in your yoga journey!
</p>

<p><%= link_to "Login with Instagram", student_instagram_omniauth_authorize_path %></p>

