<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/" > Navbar </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="<%= teachers_homepage_path %>">Teachers</a>
        </li>



        <form class="form-inline">
            <a class="btn btn-outline-primary" href="<%= new_student_registration_path %>">Signup</a>
            <a class="btn btn-outline-primary" href="<%= students_login_path %>">Login</a>
        </form>

      </ul>
    </div>

  </nav>

  