
<div class="container" >
    <p><strong>Teacher info section:</strong></p>
    <%= render partial: 'teacher', locals: {teacher: @teacher } %>
</div>



<div class="container">
    <p><strong>Programs:</strong></p>
    <%= render partial: 'programs/programs', locals: {programs: @teacher.programs} %>
</div>



