<h3>Teacher info section:</h3>

<%= render partial: 'teacher', locals: {teacher: @teacher } %>

<strong>Programs:</strong>
<%= render partial: 'programs/programs', locals: {programs: @teacher.programs} %>


<p> <%= link_to "Logout", teachers_logout_path %> </p>
